
@{
    ViewBag.Title = "Home_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -WELCOME TO MVC BANK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body{
            top:0;
            left:0;
        }
        .container{
            width:1000px;height:2000px;border:1px solid;
        }
        .logo{
            width:1000px;height:400px;border:1px solid;
        }
        .register{
            width:500px;height:1000px;background-color:rebeccapurple;float:left;
        }
        .login {
            width: 500px;
            height: 1000px;
            background-color: violet;
            float: right;
        }
        .footer {
            width: 1000px;
            height: 600px;
            background-color: deeppink;
            float:left;
        }
    </style>
</head>
<body>
        @RenderBody()
    <div class="container">
        <div class="logo">
            <h2>
                Welcome To MVC Bank :):)
            </h2>
        </div>
        <div class="register">
            <h3>Register</h3>
        </div>
        <div class="login">
            <h3>Log In</h3>
        </div>
        <div class="footer">
            <div class="form-group">
                <h2>Contact Us</h2>
                <text>CustomerCare Number</text>
                <text></text>
            </div>
            <div>
                <p>
                    <h3>OUR OFFERINGS:</h3>
                    <ul>
                        <li>Savings Account</li>
                        <li>Personal Account</li>
                        <li>Transactions</li>
                        <li>vehicle Loans</li>
                        <li>Home Loans</li>
                    </ul>
                    <ul>
                        <li>
                            Please do not believe any entity using MVC Bank logos & branding
                            to request the public for money in exchange for opening a Customer Service Point.
                        </li>
                        <li>
                            Always use the customer care numbers displayed on Bank’s official website. Do not access unknown website links.
                        </li>
                    </ul>
                </p>
            </div>
            <p>&copy; @DateTime.Now.Year -MVC Bank </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

